USE [master]
GO
/****** Object:  Database [_VANPHONGPHAM]    Script Date: 20/11/2023 10:05:49 PM ******/
CREATE DATABASE [_VANPHONGPHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_VANPHONGPHAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\_VANPHONGPHAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'_VANPHONGPHAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\_VANPHONGPHAM.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [_VANPHONGPHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [_VANPHONGPHAM]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MADDH] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [varchar](5) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[MANV] [varchar](4) NOT NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG_MATHANG]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG_MATHANG](
	[MADDH] [int] NOT NULL,
	[MAMH] [varchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_DONDATHANG_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANHANVIEN] [varchar](4) NOT NULL,
	[MAKH] [int] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_MATHANG]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_MATHANG](
	[MAHD] [int] NOT NULL,
	[MAMH] [varchar](5) NOT NULL,
	[SOLUONGMUA] [int] NOT NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_HOADON_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[SDT] [varchar](10) NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_MAT_HANG]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MAT_HANG](
	[MALOAI] [varchar](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_LOAI_MAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAT_HANG]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAT_HANG](
	[MAMH] [varchar](5) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[GIABAN] [bigint] NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[MALOAI] [varchar](5) NOT NULL,
	[MOTA] [nvarchar](1000) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_MAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](5) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANHANVIEN] [varchar](4) NOT NULL,
	[TENNHANVIEN] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[CMND_CCCD] [varchar](12) NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](16) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
	[LAQUANLY] [bit] NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 20/11/2023 10:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_DON_DAT_HANG_NHA_CUNG_CAP]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_DON_DAT_HANG_NHA_CUNG_CAP] ON [dbo].[DON_DAT_HANG]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_DON_DAT_HANG_NHAN_VIEN]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_DON_DAT_HANG_NHAN_VIEN] ON [dbo].[DON_DAT_HANG]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_DONDATHANG_NHACUNGCAP_MAT_HANG]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_DONDATHANG_NHACUNGCAP_MAT_HANG] ON [dbo].[DONDATHANG_MATHANG]
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__HOA_DON__MANHANV__38996AB5]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__HOA_DON__MANHANV__38996AB5] ON [dbo].[HOA_DON]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_HOA_DON_KHACH_HANG]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_HOA_DON_KHACH_HANG] ON [dbo].[HOA_DON]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__CT_HOA_DON__MAMH__36B12243]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__CT_HOA_DON__MAMH__36B12243] ON [dbo].[HOADON_MATHANG]
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__MAT_HANG__MALOAI__3A81B327]    Script Date: 20/11/2023 10:05:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__MAT_HANG__MALOAI__3A81B327] ON [dbo].[MAT_HANG]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_NHA_CUNG_CAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__CT_DON_DA__MADDH__37A5467C] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MADDH])
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG] CHECK CONSTRAINT [FK__CT_DON_DA__MADDH__37A5467C]
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP_MAT_HANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAT_HANG] ([MAMH])
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP_MAT_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON__MANHANV__38996AB5] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK__HOA_DON__MANHANV__38996AB5]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOADON_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOA_DON__MAMH__36B12243] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAT_HANG] ([MAMH])
GO
ALTER TABLE [dbo].[HOADON_MATHANG] CHECK CONSTRAINT [FK__CT_HOA_DON__MAMH__36B12243]
GO
ALTER TABLE [dbo].[HOADON_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_HOA_DON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_MATHANG] CHECK CONSTRAINT [FK_CT_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[MAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__MAT_HANG__MALOAI__3A81B327] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_MAT_HANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MAT_HANG] CHECK CONSTRAINT [FK__MAT_HANG__MALOAI__3A81B327]
GO
USE [master]
GO
