USE [master]
GO
/****** Object:  Database [VANPHONGPHAM]    Script Date: 10/01/2022 10:00:40 CH ******/
CREATE DATABASE [VANPHONGPHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VANPHONGPHAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VANPHONGPHAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VANPHONGPHAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VANPHONGPHAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VANPHONGPHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VANPHONGPHAM]
GO
/****** Object:  Table [dbo].[HOADON_MATHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_MATHANG](
	[MAHD] [int] NOT NULL,
	[MAMH] [varchar](5) NOT NULL,
	[SOLUONGMUA] [int] NOT NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_HOADON_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANHANVIEN] [varchar](4) NOT NULL,
	[MAKH] [int] NULL,
 CONSTRAINT [PK__HOA_DON__A4999DF54B223F56] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FNTHONGKEDOANHTHU]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FNTHONGKEDOANHTHU]
()
RETURNS TABLE AS RETURN
select top 7 CONVERT(nvarchar, a.NGAYLAP, 103) as [Ngay], sum(b.THANHTIEN) as [TongTien]
from HOA_DON a, HOADON_MATHANG b
where a.MAHOADON = b.MAHD
group by CONVERT(nvarchar, a.NGAYLAP, 103)
order by CONVERT(nvarchar, a.NGAYLAP, 103) desc
GO
/****** Object:  UserDefinedFunction [dbo].[FNTHONGKEDOANHTHUDESC]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[FNTHONGKEDOANHTHUDESC]
()
RETURNS TABLE AS RETURN
select top 7 * FROM FNTHONGKEDOANHTHU()a
order by a.Ngay
GO
/****** Object:  Table [dbo].[MAT_HANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAT_HANG](
	[MAMH] [varchar](5) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[GIABAN] [bigint] NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[MALOAI] [varchar](5) NOT NULL,
	[MOTA] [nvarchar](1000) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FNMAT_HANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[FNMAT_HANG]
()
RETURNS TABLE AS RETURN
SELECT *
FROM MAT_HANG
GO
/****** Object:  Table [dbo].[LOAI_MAT_HANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MAT_HANG](
	[MALOAI] [varchar](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK__LOAI_MAT__2F633F23626F0ADC] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FNLOAIMAT_HANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[FNLOAIMAT_HANG]
()
RETURNS TABLE AS RETURN
SELECT a.MALOAI, a.TENLOAI, b.MAMH
FROM LOAI_MAT_HANG a , MAT_HANG b
WHERE a.MALOAI = b.MALOAI
GO
/****** Object:  View [dbo].[View_1]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT    dbo.LOAI_MAT_HANG.TENLOAI, dbo.MAT_HANG.MAMH, dbo.MAT_HANG.TENMH, dbo.MAT_HANG.GIABAN, dbo.MAT_HANG.DVT, dbo.MAT_HANG.MALOAI, dbo.MAT_HANG.MOTA
FROM         dbo.MAT_HANG INNER JOIN
                      dbo.LOAI_MAT_HANG ON dbo.MAT_HANG.MALOAI = dbo.LOAI_MAT_HANG.MALOAI
GO
/****** Object:  UserDefinedFunction [dbo].[FNBANHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FNBANHANG]
()
RETURNS TABLE AS RETURN
SELECT b.TENMH, sum(a.SOLUONGMUA) as [SOLUONG]
FROM dbo.HOADON_MATHANG a,  MAT_HANG b
WHERE a.MAMH = b.MAMH
GROUP BY b.TENMH 
GO
/****** Object:  UserDefinedFunction [dbo].[FNBANHANGByTIME]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FNBANHANGByTIME]
(
@NGAY DATETIME
)
RETURNS TABLE AS RETURN
SELECT a.NGAYLAP, c.TENMH, b.SOLUONGMUA
FROM dbo.HOA_DON a, HOADON_MATHANG b , MAT_HANG c
WHERE a.MAHOADON=b.MAHD and c.MAMH=b.MAMH and DAY(a.NGAYLAP) = day(@NGAY) and MONTH(a.NGAYLAP) = MONTH(@NGAY) and YEAR(a.NGAYLAP) = YEAR(@NGAY)
GO
/****** Object:  UserDefinedFunction [dbo].[FNBANHANGByTIMEGROUP]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FNBANHANGByTIMEGROUP]
(
@NGAY DATETIME
)
RETURNS TABLE AS RETURN
SELECT TENMH, SUM(SOLUONGMUA) AS[SOLUONG] FROM FNBANHANGByTIME(@NGAY)
GROUP BY TENMH
GO
/****** Object:  UserDefinedFunction [dbo].[FNBANHANGByTIMEGROUPMH]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FNBANHANGByTIMEGROUPMH]
(
@NGAY DATETIME
)
RETURNS TABLE AS RETURN
SELECT top 5 * FROM FNBANHANGByTIMEGROUP(@NGAY) ORDER BY SOLUONG DESC
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[SDT] [varchar](10) NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK__KHACH_HA__603F592C1160B9CA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FNKHACHHANGByTIME]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[FNKHACHHANGByTIME]
(
@NGAY DATETIME
)
RETURNS TABLE AS RETURN
SELECT    dbo.KHACH_HANG.TENKH, dbo.HOADON_MATHANG.THANHTIEN, dbo.HOA_DON.NGAYLAP
FROM         dbo.HOADON_MATHANG INNER JOIN
                      dbo.HOA_DON ON dbo.HOADON_MATHANG.MAHD = dbo.HOA_DON.MAHOADON INNER JOIN
                      dbo.KHACH_HANG ON dbo.HOA_DON.MAKH = dbo.KHACH_HANG.MAKH  and MONTH(dbo.HOA_DON.NGAYLAP) = MONTH(@NGAY) and YEAR(dbo.HOA_DON.NGAYLAP) = YEAR(@NGAY)
GO
/****** Object:  UserDefinedFunction [dbo].[FNKHACHHANGGROUP]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FNKHACHHANGGROUP]
(
@NGAY DATETIME
)
RETURNS TABLE AS RETURN
SELECT TOP 6 TENKH, SUM(THANHTIEN) AS [THANHTIEN] FROM FNKHACHHANGByTIME(@NGAY)
GROUP BY TENKH
ORDER BY  SUM(THANHTIEN) DESC
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MADDH] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [varchar](5) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[MANV] [varchar](4) NOT NULL,
 CONSTRAINT [PK__DON_DAT___77CD19D144247204] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG_MATHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG_MATHANG](
	[MADDH] [int] NOT NULL,
	[MAMH] [varchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK__CT_DON_D__D1CEEF4FF94EC811] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](5) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANHANVIEN] [varchar](4) NOT NULL,
	[TENNHANVIEN] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[CMND_CCCD] [varchar](12) NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](16) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
	[LAQUANLY] [bit] NOT NULL,
 CONSTRAINT [PK__NHAN_VIE__7E46DD91AA5EB004] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG] ON 

INSERT [dbo].[DON_DAT_HANG] ([MADDH], [MANCC], [NGAYDAT], [MANV]) VALUES (1017, N'NCC03', CAST(N'2022-01-10T21:59:38.927' AS DateTime), N'AD00')
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG] OFF
GO
INSERT [dbo].[DONDATHANG_MATHANG] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (1017, N'MT001', 50, 19950000)
INSERT [dbo].[DONDATHANG_MATHANG] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (1017, N'MT002', 50, 24975000)
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([MAHOADON], [NGAYLAP], [MANHANVIEN], [MAKH]) VALUES (1138, CAST(N'2022-01-10T21:58:29.400' AS DateTime), N'AD00', 1)
INSERT [dbo].[HOA_DON] ([MAHOADON], [NGAYLAP], [MANHANVIEN], [MAKH]) VALUES (1139, CAST(N'2022-01-10T21:58:58.540' AS DateTime), N'AD00', 1004)
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO
INSERT [dbo].[HOADON_MATHANG] ([MAHD], [MAMH], [SOLUONGMUA], [THANHTIEN]) VALUES (1138, N'BA004', 1, 740000)
INSERT [dbo].[HOADON_MATHANG] ([MAHD], [MAMH], [SOLUONGMUA], [THANHTIEN]) VALUES (1138, N'BA005', 5, 150000)
INSERT [dbo].[HOADON_MATHANG] ([MAHD], [MAMH], [SOLUONGMUA], [THANHTIEN]) VALUES (1138, N'BI001', 3, 6000)
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [GIOITINH], [SDT], [VOHIEUHOA]) VALUES (1, N'Nguyễn Đức Hậu', N'Nam', N'0930007656', 0)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [GIOITINH], [SDT], [VOHIEUHOA]) VALUES (2, N'Nguyễn Phú Đức', N'Nam', N'0964732234', 0)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [GIOITINH], [SDT], [VOHIEUHOA]) VALUES (1002, N'Đỗ Thành Công', N'Nam', N'', 0)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
INSERT [dbo].[LOAI_MAT_HANG] ([MALOAI], [TENLOAI], [VOHIEUHOA]) VALUES (N'BANG', N'BẢNG', 0)
INSERT [dbo].[LOAI_MAT_HANG] ([MALOAI], [TENLOAI], [VOHIEUHOA]) VALUES (N'BIA', N'BÌA', 0)
INSERT [dbo].[LOAI_MAT_HANG] ([MALOAI], [TENLOAI], [VOHIEUHOA]) VALUES (N'BUT', N'BÚT', 1)
GO
INSERT [dbo].[MAT_HANG] ([MAMH], [TENMH], [GIABAN], [DVT], [MALOAI], [MOTA], [VOHIEUHOA]) VALUES (N'BA001', N'BẢNG TRẺ EM', 12000, N'CÁI', N'BANG', N'2 mặt, một mặt dùng bút lông bảng, một mặt dùng phấn rất tiện lợi', 0)
INSERT [dbo].[MAT_HANG] ([MAMH], [TENMH], [GIABAN], [DVT], [MALOAI], [MOTA], [VOHIEUHOA]) VALUES (N'BA002', N'BẢNG MICA', 70000, N'CÁI', N'BANG', N'Mặt bảng làm bằng tấm Foocmica trắng chuyên dụng, có, bốn cạnh viền bọc nhôm', 0)
INSERT [dbo].[MAT_HANG] ([MAMH], [TENMH], [GIABAN], [DVT], [MALOAI], [MOTA], [VOHIEUHOA]) VALUES (N'BA003', N'BẢNG FLIPCHART', 120000, N'CÁI', N'BANG', N'Bảng flipchart chân gấp viết rất dễ xóa, độ bền cao, có thể điều chỉnh độ cao và thu gọn dễ dàng', 0)
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [VOHIEUHOA]) VALUES (N'NCC01', N'THIÊN LONG', N'Hồ Chí Minh', N'0934567748', N'thienlongT4B@gmail.com', 0)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [VOHIEUHOA]) VALUES (N'NCC02', N'TRE VIỆT', N'Đồng Nai', N'0932567859', N'treviet59@gmail.com', 0)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [VOHIEUHOA]) VALUES (N'NCC03', N'BÌNH MINH', N'Đồng Nai', N'0932567859', N'binhminh@gmail.com', 0)
GO
INSERT [dbo].[NHAN_VIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [CMND_CCCD], [TENDANGNHAP], [MATKHAU], [VOHIEUHOA], [LAQUANLY]) VALUES (N'AD00', N'Nguyễn Phú Đức', N'Bình Dương', N'0964732241', N'Nam', CAST(N'2001-07-31T00:00:00.000' AS DateTime), N'125874341', N'admin', N'admin12345', 0, 1)
INSERT [dbo].[NHAN_VIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [CMND_CCCD], [TENDANGNHAP], [MATKHAU], [VOHIEUHOA], [LAQUANLY]) VALUES (N'NV01', N'Nguyễn Tứ', N'Khánh Hòa', N'0964732242', N'Nam', CAST(N'2001-02-18T00:00:00.000' AS DateTime), N'125874342', N'nguyentu', N'nguyentu', 0, 1)
INSERT [dbo].[NHAN_VIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [CMND_CCCD], [TENDANGNHAP], [MATKHAU], [VOHIEUHOA], [LAQUANLY]) VALUES (N'NV02', N'Lê Cẩm Thúy', N'Đồng Tháp', N'0964732243', N'Nữ', CAST(N'2001-02-24T00:00:00.000' AS DateTime), N'125874343', N'camthuy', N'camthuy', 0, 1)
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_NHA_CUNG_CAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__CT_DON_DA__MADDH__37A5467C] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MADDH])
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG] CHECK CONSTRAINT [FK__CT_DON_DA__MADDH__37A5467C]
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP_MAT_HANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAT_HANG] ([MAMH])
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP_MAT_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON__MANHANV__38996AB5] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK__HOA_DON__MANHANV__38996AB5]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOADON_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOA_DON__MAMH__36B12243] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAT_HANG] ([MAMH])
GO
ALTER TABLE [dbo].[HOADON_MATHANG] CHECK CONSTRAINT [FK__CT_HOA_DON__MAMH__36B12243]
GO
ALTER TABLE [dbo].[HOADON_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_HOA_DON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_MATHANG] CHECK CONSTRAINT [FK_CT_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[MAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__MAT_HANG__MALOAI__3A81B327] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_MAT_HANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MAT_HANG] CHECK CONSTRAINT [FK__MAT_HANG__MALOAI__3A81B327]
GO
/****** Object:  StoredProcedure [dbo].[BANHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BANHANG]
(
	@TUNGAY DATETIME,
	@DENNGAY DATETIME
)
as
BEGIN
	SELECT    dbo.HOADON_MATHANG.SOLUONGMUA, dbo.HOADON_MATHANG.THANHTIEN, dbo.HOA_DON.NGAYLAP, dbo.KHACH_HANG.TENKH, dbo.MAT_HANG.TENMH, dbo.NHAN_VIEN.TENNHANVIEN, 
						  dbo.MAT_HANG.GIABAN, dbo.MAT_HANG.DVT
	FROM         dbo.HOA_DON INNER JOIN
						  dbo.HOADON_MATHANG ON dbo.HOA_DON.MAHOADON = dbo.HOADON_MATHANG.MAHD INNER JOIN
						  dbo.KHACH_HANG ON dbo.HOA_DON.MAKH = dbo.KHACH_HANG.MAKH INNER JOIN
						  dbo.MAT_HANG ON dbo.HOADON_MATHANG.MAMH = dbo.MAT_HANG.MAMH INNER JOIN
						  dbo.NHAN_VIEN ON dbo.HOA_DON.MANHANVIEN = dbo.NHAN_VIEN.MANHANVIEN
	WHERE dbo.HOA_DON.NGAYLAP >= CONVERT(datetime,@TUNGAY,103) AND dbo.HOA_DON.NGAYLAP <= dateadd(day, 1, CONVERT(datetime,@DENNGAY,103))
END
GO
/****** Object:  StoredProcedure [dbo].[DONDATHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DONDATHANG]
(
	@TUNGAY DATETIME,
	@DENNGAY DATETIME
)
as
BEGIN
SELECT    dbo.DON_DAT_HANG.NGAYDAT, dbo.DONDATHANG_MATHANG.SOLUONG, dbo.MAT_HANG.GIABAN, dbo.MAT_HANG.TENMH, dbo.MAT_HANG.DVT, dbo.NHA_CUNG_CAP.TENNCC, 
                      dbo.NHAN_VIEN.TENNHANVIEN
FROM         dbo.DON_DAT_HANG INNER JOIN
                      dbo.DONDATHANG_MATHANG ON dbo.DON_DAT_HANG.MADDH = dbo.DONDATHANG_MATHANG.MADDH INNER JOIN
                      dbo.MAT_HANG ON dbo.DONDATHANG_MATHANG.MAMH = dbo.MAT_HANG.MAMH INNER JOIN
                      dbo.NHA_CUNG_CAP ON dbo.DON_DAT_HANG.MANCC = dbo.NHA_CUNG_CAP.MANCC INNER JOIN
                      dbo.NHAN_VIEN ON dbo.DON_DAT_HANG.MANV = dbo.NHAN_VIEN.MANHANVIEN
WHERE dbo.DON_DAT_HANG.NGAYDAT >= CONVERT(datetime,@TUNGAY,103) AND dbo.DON_DAT_HANG.NGAYDAT <= dateadd(day, 1, CONVERT(datetime,@DENNGAY,103))
END
GO
/****** Object:  StoredProcedure [dbo].[HOADON]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HOADON]
(
	@NGAY DATETIME
)
as
BEGIN
	SELECT    dbo.HOADON_MATHANG.SOLUONGMUA, dbo.HOADON_MATHANG.THANHTIEN, dbo.HOA_DON.NGAYLAP, dbo.KHACH_HANG.TENKH, dbo.KHACH_HANG.SDT, dbo.MAT_HANG.TENMH, dbo.NHAN_VIEN.TENNHANVIEN, 
						  dbo.MAT_HANG.GIABAN, dbo.MAT_HANG.DVT
	FROM         dbo.HOA_DON INNER JOIN
						  dbo.HOADON_MATHANG ON dbo.HOA_DON.MAHOADON = dbo.HOADON_MATHANG.MAHD INNER JOIN
						  dbo.KHACH_HANG ON dbo.HOA_DON.MAKH = dbo.KHACH_HANG.MAKH INNER JOIN
						  dbo.MAT_HANG ON dbo.HOADON_MATHANG.MAMH = dbo.MAT_HANG.MAMH INNER JOIN
						  dbo.NHAN_VIEN ON dbo.HOA_DON.MANHANVIEN = dbo.NHAN_VIEN.MANHANVIEN
	WHERE dbo.HOA_DON.NGAYLAP >= @NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[KHACHHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KHACHHANG]
as
BEGIN
SELECT    TENKH, GIOITINH, VOHIEUHOA, SDT
FROM         dbo.KHACH_HANG
END
GO
/****** Object:  StoredProcedure [dbo].[MATHANG]    Script Date: 10/01/2022 10:00:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MATHANG]
as
BEGIN
	SELECT b.TENLOAI, a.MAMH, a.TENMH, a.GIABAN, a.DVT, a.MALOAI, a.MOTA, a.VOHIEUHOA
	FROM MAT_HANG a INNER JOIN LOAI_MAT_HANG b ON a.MALOAI = b.MALOAI
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MAT_HANG"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "LOAI_MAT_HANG"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 148
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
USE [master]
GO
